.posts-expand .post-tags {
  margin-top: 40px;
  text-align: center;

  a {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    padding:0 6px;
    background-color: #edeefb;
    color: #555;
    border: none;
    transition: all .3s;

  }
  a:hover{
    background-color: #afb5fb;
  }
}
